body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f2efea;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.boxsizingBorder {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.row {
	display: flex;
	margin-top: 10px;
}

.first-row {
	position: relative;
	margin-top: 20px;
}

.last-row {
	margin-bottom: 20px;
	justify-content: center;
}


@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		background-color: rgb(0, 255, 0, 0.25);
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.clicked-text {
	animation: bounce 0.2s forwards;
}
